

body {
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto;
  font-family: system-ui;
  color: black;
/*  background: #555555;*/
}
figure {
  margin: 0;
  padding: 0;
}
p, li {
  text-align: justify;
}
pre {
  background: #F8F9F9;
  padding: 0.5rem;
}
h1, h2, h3, h4, h5 {
  color: orange;
  font-weight: bold;
}
h4, h5 {
  color: inherit;
}
h2 {
  margin-top: 3rem;
}
a {
  color: orange;
}
a:hover {
  color: lightblue;
}

/* Specific styling */
p.author {
  font-weight : bold;
  color: orange;
}

